<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :academic_year %>
    <%= form.date_select('academic_year', discard_month: true, discard_day: true) %>
  </div>

  <div class="field">
    <ul>
      <%= hidden_field_tag "user_groups_ids[]", nil %>
      <% User.all.each do |user| %>
        <li style="list-style: none; font-size: 16px; padding: 10px 0;">
          <%= check_box_tag "user_groups_ids[]", user.id, @group.user_ids.include?(user.id), id: dom_id(user) %>
          <%= label_tag dom_id(user), user.name %>
          <%=user.last_name %>
        </li>
      <%end %>
    </ul>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <%#= simple_form_for(@group) do |f| %>
    <%#= f.association :users, as: :check_boxes %>
    <%# f.collection_check_boxes(:user_ids, User.all, :id, :name) %>
  <%#end %>

<% end %>
