<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>
<p>
  <strong>Academic year:</strong>
  <%= @group.academic_year %>
</p>

#сделать вывод студентов принаддежащих к этой группе

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
