<p id="notice"><%= notice %></p>
<h2>
  <%= @group.name %>
</h2>
<p>
  <strong>Год начала обучения:</strong>
  <%= @group.academic_year %>
</p>

<p>
  <strong>Члены группы:</strong>

<ul>
  <% @group.users.each do |user|  %>
    <li>
      <%= user.name%>
      <%= user.last_name%>
    </li>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
