<p id="notice"><%= notice %></p>
<h2>
  <%= @group.name %>
</h2>
<p>
  <strong>Год начала обучения:</strong>
  <%= @group.academic_year %>
</p>

<p>
  <strong>Члены группы:</strong>
</p>
<ul>
  <% @group.users.each do |user|  %>
    <li>
      <%= user.name%>
      <%= user.last_name%>
    </li>
  <% end %>
</ul>

<p><strong>Лекции:</strong></p>
<ul>
  <%@group.subjects.each do |subject| %>
    <li>
      <%= subject.title %>
    </li>
    <% subject.lessons.each do |lesson|%>
      <ul>
        <li>
          <%= lesson.title %>
        </li>
      </ul>
    <%end%>
  <% end %>
</ul>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>