<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

 <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field _groups-selection-checkboxes">
    <% Group.all.each do |group| %>
      <%#= TODO: refactor to rails-tag-helper: check_box_tag .... %>
      <% checked_attr = @user.group_ids.to_a.include?(group.id) ? 'checked="checked"' : '' %>
      <input type="checkbox" id="group_id_<%= group.id %>" name="user_groups_ids[]" value="<%= group.id %>" <%= checked_attr %>>
      <label for="group_id_<%= group.id %>"><%= group.name %></label><br>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
