<%= form_with(model: subject, local: true) do |form| %>
  <% if subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
        <% subject.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= hidden_field_tag "group_subjects_ids[]", nil %>
    <h4>Группы</h4>
    <ul>
      <% Group.all.each do |group| %>
        <li style="list-style: none">
          <%= check_box_tag "group_subjects_ids[]", group.id, subject.group_ids.include?(group.id), id: dom_id(group) %>
          <%= label_tag dom_id(group), group.name %>
        </li>
      <%end %>
    </ul>

  </div>

  <div class="field">
    <h4>Лекции</h4>

<!--    <p>-->
      <%#= form_with model: @subject do |lesson| %>
        <%#= lesson.collection_option(:lesson_id, Lesson.all, :id, :title, { :multiple => true}) %>
      <%# end %>
<!--    </p>-->
    <ul>
    <% Lesson.all.each do |lesson| %>
      <li style="list-style: none">
        <%= check_box_tag "subject[lesson_ids][]", lesson.id, subject.lesson_ids.include?(lesson.id), id: dom_id(lesson) %>
        <%= label_tag dom_id(lesson), lesson.title %>
      </li>
    <%end %>

      <%#=collection_check_boxes(:subject, :lesson_ids, Lesson.all, :id, :title) %>
    </ul>
    <%#= checkbox_items_output Lesson, subject, lesson_ids%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
