<h1>Subjects</h1>
<% @subjects.each do |subject| %>
  <h4><%= subject.title %></h4>

  <%subject.lessons.each do |lesson| %>
    <ul>
      <li>
        <%= lesson.title %>
      </li>
    </ul>

  <%end %>
  <%= link_to 'Show', subject %>
  <%= link_to 'Edit', edit_subject_path(subject) %>
  <%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr width="50%" align="left">
<% end %>


<br>

<%= link_to 'New Subject', new_subject_path %>
