<p id="notice"><%= notice %></p>

<h2>
  <%= @subject.title %>
</h2>

<p><strong>Лекции</strong></p>
<ul>
  <% @subject.lessons.each do |lesson|%>
    <li>
      <%= lesson.title %>
    </li>
  <%end%>
</ul>

<p><strong>Группы</strong></p>
<ul>
  <% @subject.groups.each do |group|%>
    <li>
      <%= group.name %>
    </li>
  <%end%>
</ul>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
