<div id="editorjs" data-editor="<%= lesson.body %>">
  <label>Title</label>
  <input type='text' name='title' id='title_input' text="<%= lesson.title %>">
  <button  class="cdx-button" id="button" data-post="<%= @post_path %>" data-source="<%= source %>">Save</button>
</div>



<%= javascript_pack_tag 'Editor' %>