<h1>Lessons</h1>l
    <% @lessons.each do |lesson| %>
        <div class="lesson_container" style="width: 500px; padding: 10px">
          <h3><%= lesson.title %></h3>
          <h4 style="margin-bottom: 20px; font-size: 20px"><%= lesson.body %></h4>
          <a href="#" style="color: blue"><%= lesson.subject ? lesson.subject.title : "Without subject" %></a>
          <p>id:<%= lesson.subject_id %></p>
        </div>

        <%= link_to 'Show', lesson %>
        <%= link_to 'Edit', edit_lesson_path(lesson) %>
        <%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
        <hr width="50%" align="left">
    <% end %>
<br>

<%= link_to 'New Lesson', new_lesson_path %>
