<h1>Лекции</h1>
  <div class="row row-cols-4">
    <% @lessons.each do |lesson| %>
    <div class="M_CardLecture col">
      <div class="HeadLine">
        <p class="A_CardCaption">
          <%= link_to (lesson.subject) do %>
            <%= lesson.subject ? lesson.subject.title : "Without subject" %>
          <% end %>
        </p>
        <div class="A_MoreButton">
          <%= image_tag('icons_24/Q_IconMore_24px.svg') %>
        </div>
      </div>
      <h4 class="Q_CardLectureHeader">
        <%=link_to lesson do %>
          <%= lesson.title %>
        <% end %>

      </h4>
      <!--<h4 style="margin-bottom: 20px; font-size: 20px"><%#= lesson.body %></h4>-->
      <div class="BottomLine">

      </div>
    </div>
    <% end %>
  </div>

        <%#= link_to 'Show', lesson %>
        <%#= link_to 'Edit', edit_lesson_path(lesson) %>
        <%#= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>



