<%= javascript_pack_tag 'ParseEditor' %>



<div id="container-editor" data-editor="<%= @lesson.body %>">
  <h1><%= @lesson.title %></h1>
  <h3><%= @lesson.subject ? @lesson.subject.title : " " %></h3>
</div>

<%= link_to 'Edit', edit_lesson_path(@lesson) %>
<%= link_to 'Destroy', lesson_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', lessons_path %>