<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>

</p>

<p>
  <strong>Text:</strong>
  <%= @lesson.body %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lesson.subject ? @lesson.subject.title : " " %>
</p>


<!--<p>-->
<!--  <strong>Type:</strong>-->
  <%#= @lesson.type %>
<!--</p>-->


<!--<p>-->
<!--  <strong>Date:</strong>-->
  <%#= @lesson.date %>
<!--</p>-->

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
