<p>
  <strong>Title:</strong>
  <%= @lesson.title %>

</p>

<p>
  <strong>Text:</strong>
  <%= @lesson.body %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @lesson.subject ? @lesson.subject.title : " " %>
</p>

<div id="editorjs">
  <%= @lesson.editor_field %>
</div>



<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
