<!DOCTYPE html>
<html>
  <head>
    <title>EphereApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container-fluid T_MainContainer">
    <%=render template: "pages/home" %>
    <div class="container">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
