<!DOCTYPE html>
<html>
  <head>
    <title>EphereApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
  <%=render template: "pages/home" %>
  <%end %>
  <div class="container-fluid T_MainContainer">

    <div class="container">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
